<html>
    <head>
        <title>Reset Form (used for client-side tests)</title>

        {{>common-includes}}
    </head>
    <body>
        <!-- Sample reset form with all required markup -->

        <div class="row">
            <div class="reset-viewport"></div>
        </div>


        {{{initBlock "gpii.express.user.frontend.reset"}}}
    </body>
</html>




